mixin modal(modifier)
  .modal&attributes(attributes)
    if modifier == 'modal--login'
      h3.text-center.mb-35 Вход на сайт
      form.form(action="#", method="POST")
        .form__item.form-group
          input.input.form__item-input.form-control(type="text")
          label.form__item-label Ваш e-mail
        .form__item.form-group
          input.input.form__item-input.form-control(type="password")
          label.form__item-label Ваш пароль
        .d-flex.flex-column.align-items-center.mt-35
          button.btn.btn-primary.btn-lg.modal__btn(type="submit") Войти
          a.modal__link(href="#restore" data-fancybox) Забыль пароль
    else if modifier == 'modal--restore'
      h3.text-center.mb-35 Восстановления пароля
      form.form(action="#", method="POST")
        .form__item.form-group
          input.input.form__item-input.form-control(type="text")
          label.form__item-label Введите Ваш e-mail
        .d-flex.flex-column.align-items-center.mt-35
          button.btn.btn-primary.btn-lg.modal__btn(type="submit") Восстановить пароль
          a.modal__link(href="#restoreSuccess" data-fancybox) Войти на сайт
    else if modifier == 'modal--restore-success'
      h3.text-center.mb-35 Восстановления пароля
      form.form(action="#", method="POST")
        .form__item.form__item--success.form-group
          input.input.form__item-input.form-control(type="text", value="dembn@yandex.ru")
          label.form__item-label Введите Ваш e-mail
        p.text-center.mt-45.mb-40 На вашу почту была отправленна ссылка для сброса пароля перейдите по не чтобы сменить пароль
        a.modal__link(href="#restorePassword" data-fancybox) Войти на сайт
    else if modifier == 'modal--restore-password'
      h3.text-center.mb-35 Восстановления пароля
      form.form(action="#", method="POST")
        .form__item.form-group
          input.input.form__item-input.form-control(type="password")
          label.form__item-label Введите новый пароль
        .form__item.form-group
          input.input.form__item-input.form-control(type="password")
          label.form__item-label Повторите пароль
        .d-flex.flex-column.align-items-center.mt-35
          button.btn.btn-primary.btn-lg.modal__btn(type="submit") Сменить пароль
          a.modal__link(href="#restoreSuccess" data-fancybox) Войти на сайт