.modal {
  display: none;
  border-radius: 5px;
  width: 100%;
  max-width: 530px;
  padding: 45px 80px 40px;

  @include media-breakpoint-down(sm) {
    padding: 40px 20px 30px;
  }
  
  &__link {
    display: block;
    color: #4AB2DB;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-top: 30px;
  }
  
  &__btn {
    min-width: 234px;
  }
}
