h1 {
  
}

h2 {
  color: $dark;
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 38px;

  @include media-breakpoint-down(sm) {
    font-size: 29px;
    line-height: 1;
  }
  
  br {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

h3 {
  font-size: 30px;
  line-height: 28px;
  color: $dark;
  font-weight: 500;
  margin-bottom: 28px;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 1;
  }
}

h4 {
  color: $dark;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 23px;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 1;
  }
  
  &.h4--underline {
    
    &:after {
      content: '';
      display: block;
      width: 43px;
      height: 1px;
      background: #000;
      margin-top: 6px;
    }
  }
}

h5 {
  color: $dark;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 21px;
  font-weight: 400;
}

h6 {
  
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  font-weight: 400;
  margin-bottom: 18px;
  
  &.p--sm {
    font-size: 13px;
    line-height: 15px;
    color: #000;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
  &.img--radius {
    border-radius: 5px;
  }
}

.font-weight-medium {
  font-weight: 500;
}