mixin slider(modifier)
  .slider&attributes(attributes)
    .slider__item(style="background-image: url(./img/front.jpg);")
      .slider__content
        .row
          .col-lg-8
            +logo
            h2.text-white.mt-40.mt-sm-65 Российский центр содействия молодежному предпринимательству
            .row
              .col-10
                h4.text-white.font-weight-light.mb-80 Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
            a.btn.btn-primary.btn-lg(href="#") Стать участником
    .slider__item(style="background-image: url(./img/story-1.jpg);")
      .slider__content
        .row
          .col-lg-8
            +logo
            h2.text-white.mt-40.mt-sm-65 Российский центр содействия молодежному предпринимательству
            .row
              .col-10
                h4.text-white.font-weight-light.mb-80 Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
            a.btn.btn-primary.btn-lg(href="#") Стать участником
    .slider__item(style="background-image: url(./img/story-2.jpg);")
      .slider__content
        .row
          .col-lg-8
            +logo
            h2.text-white.mt-40.mt-sm-65 Российский центр содействия молодежному предпринимательству
            .row
              .col-10
                h4.text-white.font-weight-light.mb-80 Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
            a.btn.btn-primary.btn-lg(href="#") Стать участником
    .slider__item(style="background-image: url(./img/story-3.jpg);")
      .slider__content
        .row
          .col-lg-8
            +logo
            h2.text-white.mt-40.mt-sm-65 Российский центр содействия молодежному предпринимательству
            .row
              .col-10
                h4.text-white.font-weight-light.mb-80 Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
            a.btn.btn-primary.btn-lg(href="#") Стать участником
    .slider__item(style="background-image: url(./img/news-1.jpg);")
      .slider__content
        .row
          .col-lg-8
            +logo
            h2.text-white.mt-40.mt-sm-65 Российский центр содействия молодежному предпринимательству
            .row
              .col-10
                h4.text-white.font-weight-light.mb-80 Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
            a.btn.btn-primary.btn-lg(href="#") Стать участником