.slider {
  z-index: 3;
  
  &__item {
    overflow: hidden;
    background-size: 0;
    padding-bottom: 120px;

    @include media-breakpoint-down(md) {
      background-size: cover;
      background-position: center;
      
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(0deg, rgba(27, 55, 75, 0.1), rgba(27, 55, 75, 0.1));
//        display: none;
      }
    }
  }
  
  &__content {

    @include media-breakpoint-down(md) {
      max-width: 720px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 2;
      position: relative;
    }
  }
}
