.news {
  display: flex;
  align-items: stretch;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  
  &+& {
    margin-top: 30px;
  }
  
  &__picture {
    width: 117px;
    height: 117px;
    border-radius: 5px;
    margin-right: 25px;
    display: block;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__title-wrapper {
    
  }
  
  &__title {
    color: $dark;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 20px;
    display: block;
  }
  
  &__footer {
    display: flex;
    align-items: baseline;
  }
  
  &__date {
    margin-right: 20px;
    margin-bottom: 0!important;
    color: $secondary!important;
    flex-shrink: 0;
  }
  
  &__place {
    color: #969696!important;
    margin-bottom: 0!important;
  }
  
  &--cover {
    position: relative;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
    
    .news__picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    
    .news__content {
      position: relative;
      z-index: 1;
      background: rgba(0, 0, 0, 0.7);
      padding: 30px;
      flex-direction: row;
      align-items: flex-end;
      border-radius: 0 0 5px 5px;

      @include media-breakpoint-down(sm) {
        padding: 20px;
        flex-direction: column;
        align-items: stretch;
      }
    }
    
    .news__title-wrapper {
      max-width: 260px;
    }
    
    .news__title {
      color: #fff;
      margin-bottom: 0;
      display: inline;
      border-bottom: 1px solid $secondary;
      @include transition;

      &:hover {
        border-color: transparent;
      }

      @include media-breakpoint-down(sm) {
        max-width: none;
        margin-bottom: 20px;
      }
    }
    
    .news__footer {
      flex-shrink: 0;
      flex-direction: column;
      align-items: flex-end;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
    
    .news__date {
      color: #fff!important;
      margin-right: 0;
      margin-bottom: 5px;
    }
    
    .news__place {
      color: #fff!important;
    }
  }
}
