mixin news(picture, title, date, place, modifier)
  .news&attributes(attributes)
    if modifier == 'news--illustrated'
      a.news__picture(href="#", style="background-image: url(./img/" + picture + ");")
    .news__content
      .news__title-wrapper
        a.news__title(href="#")= title
      .news__footer
        p.p--sm.news__date= date
        p.p--sm.news__place= place