/* Bootstrap */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  font-size: 15px;
  line-height: 14px;
  padding: 12.225px 61.1px;
  border-radius: 3px;
  
  &.btn-primary {
    box-shadow: 0px 4px 20px rgba(194, 77, 67, 0.5);
  }
  
  &.btn-outline-primary {
    color: $dark;
    @include transition;
    
    &:hover {
      color: #fff;
      border-color: transparent;
    }
  }
  
  &.btn-link {
    color: $dark;
    border-bottom: 1px solid $secondary;
    padding: 0;
    padding-bottom: 2px;
    border-radius: 0;
    font-weight: 700;
    @include transition;
    
    &:hover {
      border-color: transparent;
    }
  }
  
  &.btn-lg {
    padding: 19.23px 48.85px;
    font-size: 15px;
    line-height: 14px;
    font-weight: 700;
  }
  
  &.btn-sm {
    font-size: 13px;
    line-height: 12px;
    padding: 6.13px 13px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.custom-checkbox, .custom-radio {
  padding-left: 40px;
  margin-right: 35px;
  margin-bottom: 20px;
  
  .custom-control-input {
    
    &:focus {
      
      & ~ .custom-control-label {
        color: $secondary;
        
        &:before, &:after {
          box-shadow: none;
        }
      }
    }
    
    &:checked {
      
      & ~ .custom-control-label {
        color: $secondary;
        
        &:after {
          background: $secondary url(../img/check.svg) no-repeat center;
          background-size: 70%;
        }
      }
    }
  }
  
  .custom-control-label {
    color: $dark;
    font-size: 15px;
    font-weight: 700;
    
    &:before {
      width: 25px;
      height: 25px;
      border: 1px solid #e8e8e8;
      border-radius: 0;
      background: transparent;
      border-radius: 5px;
      margin-top: -6px;
      left: -40px;
    }
    
    &:after {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      margin-top: -6px;
      left: -40px;
    }
    
    a {
//      display: block;
      color: $dark;
      border-bottom: 1px solid #4AB2DB;
      @include transition;

      &:hover {
        border-color: transparent;
      }
    }
  }
  
  &--short {
    padding-left: 27px;
    margin-bottom: 0;
  
    .custom-control-input {

      &:focus {

        & ~ .custom-control-label {
          color: $dark;
        }
      }

      &:checked {

        & ~ .custom-control-label {
          color: $dark;
        }
      }
    }
    
    .custom-control-label {
      font-size: 13px;
      font-weight: 400;
      
      &:before {
        width: 12px;
        height: 12px;
        border: 1px solid #969696;
        margin-top: 0;
        border-radius: 0;
        left: -27px;
      }
      
      &:after {
        width: 12px;
        height: 12px;
        margin-top: 0;
        border-radius: 0;
        left: -27px;
      }
    }
  }
}

.form-control:invalid, .form-control.is-invalid {
  border-color: $primary;
  @include placeholder($primary);
  
  & ~ .form__item-label {
    color: $primary;
  }
}

.invalid-feedback {
  font-size: 13px;
  color: $primary;
}


/* Slick */

.slick-dots {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  
  li {
    list-style: none;
    display: block;
    
    & + li {
      margin-left: 9px;
    }
    
    &.slick-active {
      
      button {
        position: relative;
        
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: $secondary;
        }
      }
    }
    
    button {
      font-size: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #fff;
      display: block;
    }
  }
}

.slick-slide {
  
  &:focus {
    outline: none;
  }
}

.slick-arrow {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background: #fff url(../img/arrow.svg) no-repeat center;
  font-size: 0;
  z-index: 1;
  
  &.slick-prev {
    transform: rotate(90deg);
  }
  
  &.slick-next {
    transform: rotate(-90deg);
  }
}



/* Datepicker */

div.ui-datepicker {
  padding: 0;
  border: 0!important;
  margin-top: 10px;
  background: #fff;
  width: 345px;
  border-radius: 5px;
  z-index: 6!important;
  font-family: $font-family-sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 99999!important;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    left: 50%!important;
    margin-left: -172.5px!important;
  }
  
  .ui-datepicker-header {
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
  }
  
  .ui-datepicker-title {
    color: #252627;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.54;
    text-transform: uppercase;
  }
  
  .ui-datepicker-prev {
    background: url(../img/arrow--small.svg) no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    cursor: pointer;
    transform: rotate(180deg);
    left: 30px;
    top: 50%;
    margin-top: -5px;
    
    &:hover {
      border: 0;
    }
  }
  
  .ui-datepicker-next {
    background: url(../img/arrow--small.svg) no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    cursor: pointer;
    right: 30px;
    top: 50%;
    margin-top: -5px;
    
    &:hover {
      border: 0;
    }
  }
  
  .ui-datepicker-calendar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    
    tr {
      
    }
    
    th {
      font-size: 10px;
      font-weight: 900;
      line-height: .88;
      letter-spacing: .9px;
      color: #5c626b;
      text-transform: uppercase;
      height: 60px;
      border-bottom: 1px solid fade($primary, 20%);
      padding-top: 10px;
      padding-bottom: 20px;
  
      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }
    
    td {
      width: 35px!important;
      height: 40px;
    }
  }
  
  .ui-state-default {
    font-size: 12px;
    font-weight: 500;
    color: #252627;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    border: 0;
    padding: 0;
    line-height: 30px;
    margin: 0 auto;
  }
  
  .ui-state-active {
    background: $primary;
  }
  
  .ui-datepicker-today {
    
    .ui-state-default {
      background: #eaeaea;
    }
  }
  
  .selected {
    position: relative;
    
    .ui-state-default {
      background: $primary;
      color: #fff;
    }
  }
  
  .ui-icon {
    background: transparent!important;
  }
  
  .ui-datepicker-week-end {
    
    .ui-state-default {
      color: #ff2d2d;
    }
    
    &.selected {
      
      .ui-state-default {
        color: #fff;
      }
    }
  }
  
  .ui-datepicker-buttonpane {
    
    button {
      width: auto!important;
      padding: 0 10px!important;
    }
  }
  
  .ui-datepicker-month {
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    border-color: #eaeaea;
    border-radius: 4px;
  }
  
  .ui-datepicker-year {
    height: 30px;
    width: 100px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    margin-left: 5px;
    border-color: #eaeaea;
    border-radius: 4px;
  }
  
  .ui-datepicker-button {
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    margin: 15px auto 10px;
    display: block;
    @include transition;
    cursor: pointer;
    
    &:hover {
      background: $black;
      color: #fff;
    }
  }
}



/* Fancybox */

.fancybox-close-small {
  background: url(../img/cross.svg) no-repeat center;
  width: 68px;
  height: 68px;
  padding: 17px;

  @include media-breakpoint-down(sm) {
    width: 25px;
    height: 25px;
    background-size: contain;
    top: 5px;
    right: 5px;
  }
  
  svg {
    display: none;
  }
}

.fancybox-slide {
  background: rgba(74, 178, 219, 0.75);
}


/* Select2 */

.select2 {
  position: relative;
  z-index: 1052;
  min-width: 350px;

  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }
  
  .select2-selection {
    border: 0;
    height: 70px;
    border-radius: 0;
      
    &:focus {
      outline: none;
    }
  
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      height: 60px;
      padding-left: 30px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;

      @include media-breakpoint-down(sm) {
        padding-left: 20px;
      }
      
      &:focus {
        outline: none;
      }
    }
    
    .select2-selection__arrow {
      display: none;
    }
  }
}

.select2-dropdown {
  padding: 10px 0;
  border: 0;
  border-radius: 3px!important;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    right: 18px;
    top: -5px;
    background: #fff;
    position: absolute;
  }

  @include media-breakpoint-down(sm) {
    z-index: 1055;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1!important;
  }
  
  .select2-results__option {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 1.2;
    height: auto;
    padding-top: 11.2px;
    padding-bottom: 11.2px;
    background: #fdfdfd;
    @include transition;
    
    &:hover {
      color: #bfbfbf!important;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 20px;
    }

    &--highlighted {
      background: #fff;
      color: #010101;
    }

    &[aria-selected] {
      background: #fff;
      color: #010101;
    }
  }
}

.select--btn {
  background-color: transparent!important;
  height: auto!important;
  
  & ~ .select2-container {
    right: 0!important;
    left: auto!important;
    z-index: 2;
  }
  
  .select2-selection__rendered {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.79;
    color: $dark;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 70px!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
    @include transition;
    display: flex;
    justify-content: space-between;
    
    &:hover {
      border-color: #bfbfbf;
      color: #bfbfbf;
    }
    
    &:after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 10px;
      background: url(../img/arrow.svg) no-repeat;
      background-size: contain;
    }
  }
}

.select2-container--open {
  
  .select2-selection__rendered {
    
    &:after {
      transform: rotate(180deg);
    }
  }
}

//.select2-search {
//  position: absolute;
//  top: -35px;
//  left: 1px;
//  padding: 0;
//  width: calc(100% - 30px);
//  border-radius: 3px;
//  
//  .select2-search__field {
//    border: 0!important;
//    padding-left: 15px;
//    border-radius: 3px;
//  }
//}


.select__search--new {
  
  .select2-search {
    position: absolute;
    top: -38px;
    left: 1px;
    padding: 0;
    width: calc(100% - 30px);
    border-radius: 3px;

    .select2-search__field {
      border: 0!important;
      padding-left: 15px;
      border-radius: 3px;
    }
  }
}

.select__dropdown--common {
  z-index: 1053;
  
  &--new {
    position: absolute!important;
  }
}