include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/logo/logo.pug
include ../blocks/fact/fact.pug
include ../blocks/map/map.pug
include ../blocks/story/story.pug
include ../blocks/news/news.pug
include ../blocks/service/service.pug
include ../blocks/opportunity/opportunity.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/section/section.pug
include ../blocks/slider/slider.pug
include ../blocks/modal/modal.pug
include ../blocks/article/article.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/share/share.pug
include ../blocks/album/album.pug
include ../blocks/video/video.pug
include ../blocks/gallery/gallery.pug
include ../blocks/select/select.pug
include ../blocks/illustrations/illustrations.pug
include ../blocks/media/media.pug
