.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  
  &__item {
    font-size: 11px;
    line-height: 10px;
    color: $primary;
    display: flex;
    align-items: center;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
    }
    
    &:after {
      content: '';
      display: block;
      width: 25px;
      height: 1px;
      background: #000;
      margin: 0 12px;
    }
    
    &--current {
      color: $dark;
      font-weight: 400;
      
      &:after {
        display: none;
      }
    }
  }
}
