mixin breadcrumbs(link1, link2, linkCurrent, modifier)
  .breadcrumbs&attributes(attributes)
    a.breadcrumbs__item(href="#") Роспредприниматель
    if link1 != ''
      a.breadcrumbs__item(href="#")= link1
    if link2 != ''
      a.breadcrumbs__item(href="#")= link2
    span.breadcrumbs__item.breadcrumbs__item--current= linkCurrent