.input {
  height: 68px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: transparent;
  padding: 32px 20px 12px;
  width: 100%;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  
  &:focus {
    background: transparent;
    box-shadow: 0px 4px 25px rgba(74, 178, 219, 0.68);
    border: 1px solid $secondary;
  }
  
  &--textarea {
    resize: none;
    height: 105px;
    padding: 23px 22px;
    font-size: 13px;
    line-height: 12px;
    color: $dark;
  }
  
  &--calendar {
    padding-right: 50px;
    background: url(../img/calendar.svg) no-repeat right 20px center;
    
    &:focus {
      background: transparent url(../img/calendar.svg) no-repeat right 20px center;
    }
  }
}
