.illustrations {
  
  &__item {
    display: block;
    height: 260px;
    background-size: cover;
    background-position: center;
    margin: 0 15px;
    @include transition;
    
    &:hover {
      opacity: .8;
    }
  }
  
  .slick-list {
    margin: 0 -15px;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -31px;

    &.slick-prev {
      left: -31px;

      @media screen and (max-width: 1299px) {
        left: 0;
      }
    }

    &.slick-next {
      right: -31px;

      @media screen and (max-width: 1299px) {
        right: 0;
      }
    }
  }
  
  .slick-dots {
    justify-content: center;
    margin-top: 30px;
    
    li {
      
      button {
        background: #e1e1e1;
      }
    }
  }
}
