mixin illustrations(modifier)
  .illustrations&attributes(attributes)
    a.illustrations__item(href="img/illustration-1.jpg", style="background-image: url(./img/illustration-1.jpg);" data-fancybox)
    a.illustrations__item(href="img/illustration-2.jpg", style="background-image: url(./img/illustration-2.jpg);" data-fancybox)
    a.illustrations__item(href="img/illustration-3.jpg", style="background-image: url(./img/illustration-3.jpg);" data-fancybox)
    a.illustrations__item(href="img/illustration-1.jpg", style="background-image: url(./img/illustration-1.jpg);" data-fancybox)
    a.illustrations__item(href="img/illustration-2.jpg", style="background-image: url(./img/illustration-2.jpg);" data-fancybox)
    a.illustrations__item(href="img/illustration-3.jpg", style="background-image: url(./img/illustration-3.jpg);" data-fancybox)