.gallery {
  
  &__photo-slider {
    
  }
  
  &__photo {
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    min-height: 570px;

    @include media-breakpoint-down(lg) {
      min-height: 300px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 200px;
    }
  }
  
  &__photo-picture {
    max-height: 100%;
    border-radius: 5px;
  }
  
  &__slider {
    padding: 0 70px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &__item {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    height: 86px;
    margin: 0 12.5px;
    display: block;
    cursor: pointer;
    @include transition;
    
    &:hover {
      opacity: .8;
    }
  }
    
  .slick-list {
    margin: 0 -12.5px;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -31px;

    &.slick-prev {
      left: 0px;
    }

    &.slick-next {
      right: 0px;
    }
  }
  
  .slick-dots {
    justify-content: center;
    margin-bottom: 40px;
    
    li {
      
      button {
        background: #e1e1e1;
      }
    }
  }
}
