mixin gallery(modifier)
  .gallery&attributes(attributes)
    .gallery__photo-slider
      a.gallery__photo(href="img/gallery-1.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/gallery-1.jpg", alt="Photo")
      a.gallery__photo(href="img/album-2.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-2.jpg", alt="Photo")
      a.gallery__photo(href="img/album-3.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-3.jpg", alt="Photo")
      a.gallery__photo(href="img/album-4.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-4.jpg", alt="Photo")
      a.gallery__photo(href="img/album-5.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-5.jpg", alt="Photo")
      a.gallery__photo(href="img/album-6.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-6.jpg", alt="Photo")
      a.gallery__photo(href="img/album-1.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-1.jpg", alt="Photo")
      a.gallery__photo(href="img/album-2.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-2.jpg", alt="Photo")
      a.gallery__photo(href="img/gallery-1.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/gallery-1.jpg", alt="Photo")
      a.gallery__photo(href="img/album-2.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-2.jpg", alt="Photo")
      a.gallery__photo(href="img/album-3.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-3.jpg", alt="Photo")
      a.gallery__photo(href="img/album-4.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-4.jpg", alt="Photo")
      a.gallery__photo(href="img/album-5.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-5.jpg", alt="Photo")
      a.gallery__photo(href="img/album-6.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-6.jpg", alt="Photo")
      a.gallery__photo(href="img/album-1.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-1.jpg", alt="Photo")
      a.gallery__photo(href="img/album-2.jpg", data-fancybox)
        img.img-fluid.gallery__photo-picture(src="img/album-2.jpg", alt="Photo")
    .gallery__slider
      .gallery__item(style="background-image: url(./img/gallery-1.jpg);")
      .gallery__item(style="background-image: url(./img/album-2.jpg);")
      .gallery__item(style="background-image: url(./img/album-3.jpg);")
      .gallery__item(style="background-image: url(./img/album-4.jpg);")
      .gallery__item(style="background-image: url(./img/album-5.jpg);")
      .gallery__item(style="background-image: url(./img/album-6.jpg);")
      .gallery__item(style="background-image: url(./img/album-1.jpg);")
      .gallery__item(style="background-image: url(./img/album-2.jpg);")
      .gallery__item(style="background-image: url(./img/gallery-1.jpg);")
      .gallery__item(style="background-image: url(./img/album-2.jpg);")
      .gallery__item(style="background-image: url(./img/album-3.jpg);")
      .gallery__item(style="background-image: url(./img/album-4.jpg);")
      .gallery__item(style="background-image: url(./img/album-5.jpg);")
      .gallery__item(style="background-image: url(./img/album-6.jpg);")
      .gallery__item(style="background-image: url(./img/album-1.jpg);")
      .gallery__item(style="background-image: url(./img/album-2.jpg);")