.section {
  position: relative;
  
  &__colored {
    background: $light;
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    
    &--left {
      right: auto;
      left: 0;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__services {
    position: absolute;
    width: 39%;
    position: absolute;
    height: 100%;
    background: #1e1e1e;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    
    @media screen and (max-width: 1700px) {
      width: 37%;
    }
    
    @media screen and (max-width: 1500px) {
      width: 35.5%;
    }
    
    @media screen and (max-width: 1300px) {
      width: 33%;
    }

    @include media-breakpoint-down(lg) {
      width: 43%;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
    
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      opacity: .2;
      background: url(../img/services.jpg) no-repeat right center;
      background-size: cover;
      filter: grayscale(100%);
    }
  }
  
  &__wide-wrapper {

    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }
  }
  
  &__services-content {

    @include media-breakpoint-down(md) {
      background: #1e1e1e;
    
      &:before {
        content: '';
        display: block;
        width: calc(100% - 30px);
        height: 100%;
        left: 15px;
        top: 0;
        position: absolute;
        opacity: .2;
        background: url(../img/services.jpg) no-repeat right center;
        background-size: cover;
        filter: grayscale(100%);
      }
    }
  }
  
  &__content-wrapper {

    @include media-breakpoint-down(md) {
      max-width: 690px;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 540px;
    }
    
    &--footer {

        @include media-breakpoint-down(md) {
          background: $light;
          max-width: none;
          padding-left: 15px;
          padding-right: 15px;
        }
    }
  }
}
