.article {
  padding-bottom: 40px;
  
  &__date {
    font-size: 13px;
    line-height: 18px;
    color: $secondary;
    flex-shrink: 0;
  }
  
  &__region {
    font-size: 13px;
    line-height: 18px;
    color: #969696;
    margin-left: 20px;
  }
  
  &__content {
  
    img {
      margin-top: 15px;
      margin-bottom: 40px;
      max-width: 100%;
    }
    
    ul li, ol li {
      font-size: 15px;
      line-height: 18px;
      color: #000;
      font-weight: 400;
    }
  }
  
  &__quote-mark {
    color: #969696;
  }
  
  &__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  &__author-photo {
    width: 245px;
    height: 245px;
    background-size: cover;
    background-position: center;
    margin-bottom: 35px;
    border-radius: 50%;
  }
  
  &__author-region {
    font-size: 13px;
    color: $secondary;
    text-align: center;
  }
}
