.story {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: #fff;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  
  &__content {
    padding: 35px 35px 25px 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
  }
  
  &__top {
    flex-grow: 1;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  &__header-content {
    
  }
  
  &__name {
    
  }
  
  &__person {
    width: 148px;
    height: 148px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: -55px;
    margin-right: -55px;
    margin-left: 20px;

    @include media-breakpoint-down(lg) {
      width: 120px;
      height: 120px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }
  
  &__dscr {
    
  }
  
  &__picture {
    width: 100%;
    height: 113px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 5px 5px;
  }
}