mixin story(person, name, company, dscr, picture, modifier)
  .story&attributes(attributes)
    .story__content
      .story__top
        .story__header
          .story__header-content
            h4.story__name.mb-10= name
            p.p--sm.text-secondary.mb-10= company
            p.p--sm.text-secondary.mb-0 #Красноярский край
          .story__person(style="background-image: url(./img/" + person + ");")
        .story__dscr!= dscr
      a.btn.btn-outline-primary.btn-sm.mt-25(href="#") Прочитать полную историю
    .story__picture(style="background-image: url(./img/" + picture + ");")