.opportunity {
  display: flex;
  padding-left: 40px;

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  
  &+& {
    margin-top: 70px;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
  }
  
  &__logo {
    width: 140px;
    height: 100px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    margin-top: 15px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  
  &__content {
    
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }
}