mixin opportunity(logo, header, dscr, modifier)
  .opportunity&attributes(attributes)
    .opportunity__logo(style="background-image: url(./img/" + logo + ");")
    .opportunity__content
      h5= header
      p.p--sm.w-xl-75= dscr
      if modifier == 'opportunity--invite' || modifier == 'opportunity--more'
      .opportunity__footer
        a.btn.btn-outline-primary.btn-sm(href="#") Подробнее
        if modifier == 'opportunity--invite'
          a.btn.btn-primary.btn-sm(href="#") Стать участником