.tooltip {
  position: relative;
  
  &__btn {
    display: flex;
    color: $secondary;
    @include transition;
    
    &:hover {
      color: $secondary;
      opacity: .7;
    }
    
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url(../img/tooltip.svg) no-repeat;
      background-size: contain;
      margin-right: 13px;
      flex-shrink: 0;
      margin-top: 5px;
    }
  }
  
  &__content {
    display: none;
    padding: 20px;
    background: #fff;
    position: absolute;
    left: -20px;
    max-width: 300px;
    top: 100%;
    margin-top: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    z-index: 1;
    
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
      left: 18px;
      top: -8px;
      position: absolute;
      background: #fff;
    }

    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }
  
  &:hover {
    
    .tooltip__content {
      display: block;
    }
  }
}
