.footer {
  border-top: 1px solid #e5e5e5;
  
  &__sitemap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  &__sitemap-link {
    font-size: 15px;
    color: $dark;
    border-bottom: 1px solid $secondary;
    @include transition;
    
    &:hover {
      border-color: transparent;
    }
    
    &+& {
      margin-top: 5px
    }
  }
  
  &__main {

    @include media-breakpoint-down(md) {
      background: $light;
    }
  }
}