mixin footer(modifier)
  .footer&attributes(attributes)
    .section
      .container-fluid.section__container
        .section__colored.section__colored--left
      .container.section__wide-wrapper
        .row.flex-lg-row.flex-column-reverse
          .col-lg-6.pt-lg-65.pb-lg-60.py-0
            .footer__main
              .section__content-wrapper
                .row
                  .col-sm-6
                    .footer__sitemap
                      a.footer__sitemap-link(href="#") О нас
                      a.footer__sitemap-link(href="#") Ты — предприниматель
                      a.footer__sitemap-link(href="#") Профсообщества
                      a.footer__sitemap-link(href="#") Конкурс
                      a.footer__sitemap-link(href="#") Медиа
                      a.footer__sitemap-link(href="#") Контакты
                    +logo(class="logo--gray mt-40 mb-45")
                    p.p--sm.mb-0 © 2018. Роспредприниматель
                  .col-sm-6
                    p.font-weight-bold.mb-0 Контакты:
                    p info@rusenter.com
                    p.font-weight-bold.mb-0 Адрес:
                    p Москва, Подсосенский переулок, д. 5, стр. 1
                    a.text-primary.d-block(href="#") Документы
                    a.text-secondary.d-block.mt-20.w-75(href="#") Условия обработки персональных данных
                    a.text-secondary.d-block.mt-20.w-75(href="#") Политика конфиденциальности
          .col-lg-6.pt-lg-60.pb-lg-50.py-0
            .section__content-wrapper
              form.form(action="#", method="POST")
                h3.mb-15 Остались вопросы?
                p.mb-40 Задайте их нашим специалистам
                .row
                  .col-sm-6
                    .form__item.form-group
                      input.input.form__item-input.form-control(type="text")
                      label.form__item-label Ваше имя
                  .col-sm-6
                    .form__item.form-group
                      input.input.form__item-input.form-control(type="text")
                      label.form__item-label Ваш e-mail
                .form-group
                  textarea.input.input--textarea(placeholder="Ваш вопрос")
                .form__footer
                  button.btn.btn-primary.btn-lg(type="submit") Отправить
                  .custom-control.custom-checkbox.custom-checkbox--short.ml-xl-65.mb-30.mb-xl-0
                    input#dataAgree.custom-control-input(type='checkbox')
                    label.custom-control-label(for='dataAgree') Согласен(а) с условиями 
                      a(href="#") обработки персональных данных