mixin partners(modifier)
  .partners&attributes(attributes)
    .row
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-1.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-2.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-3.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-4.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-5.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-6.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-7.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-8.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-9.png", alt="Partner")
      .col.d-flex
        a.partners__item(href="#")
          img.partners__item-picture(src="img/partner-10.png", alt="Partner")