.partners {
  padding-bottom: 40px;
  
  .col {
    min-width: 20%;

    @include media-breakpoint-down(sm) {
      min-width: 50%;
    }
  }
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 40px;
  }
  
  &__item-picture {
    max-width: 90%;
    max-height: 90%;
    display: block;
  }
}
