extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'О нас')(class="my-35")
        .row.mb-md-75
          .col-sm-8
            h2.mb-35 О нас
            h3.mb-35 Российский центр содействия молодежному предпринимательству
            h4 Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
        .row
          .col-md-4.mb-40.mb-md-0
            +fact('fact-1.svg', '500 000', 'прошли обучение в наших программах')
          .col-md-4.mb-40.mb-md-0
            +fact('fact-2.svg', '16 000', 'участников открыли свое дело')
          .col-md-4.mb-40.mb-md-0
            +fact('fact-3.svg', '60', 'регионов страны с нами')
        .row.mt-20.mt-md-80.mb-70
          .col-md-5.mb-20.mb-md-0
            img.img-fluid.img--radius(src="img/about-1.jpg", alt="Photo")
          .col-md-7
            h3 Обращение будущим предпринимателям
            p Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин. 
            p Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкой
            p Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин. 
            p Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкойХорошо знакомые нам всем парикмахерские давно уже ушли из нашей жи
        h2 Наши сервисы
        .row
          .col-xl-4.mb-20.mb-xl-0
            +service('service-1--colored.png', 'Тест', 'Предпринимательские способности', 'Пройди тест и узнай – готов ли ты стать предпринимателем')(class="service--colored")
          .col-xl-4.mb-20.mb-xl-0
            +service('service-2--colored.png', 'Доступ к поддержке', 'Росмолодежи', 'Зарегистрируйся на сайте АИС «Молодежь России» и получи поддержку Федерального агентства по делам молодежи')(class="service--colored")
          .col-xl-4.mb-20.mb-xl-0
            +service('service-3--colored.png', 'Сервис', 'Бизнес Навигатор МСП', 'Бесплатный ресурс для предпринимателей, которые хотят открыть или расширить свой бизнес')(class="service--colored")
        +map
  +footer