extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.')(class="my-35")
        h2.mt-35.mb-20 Проекты молодых предпринимателей представили на Владимирском экономическом форуме.
        p.p--sm.mb-35 27 мая, ПМЭФ, Санкт-Петербург
        +gallery
        .mt-md-60.mb-45
          p Вчера, 26 июля на Мастрюковских озерах прошло торжественное открытие форума «iВолга-2018». В этом году в форуме принимают участие около 2 тысяч представителей из разных регионов России, а также — гости из КНР. Они поделятся своим идеями в рамках международного форума «Волга — Янцзы», который станет платформой для создания инновационных российско-китайских проектов..
        h3.mb-50 Фотоматериалы с других мероприятий
        .row.mb-65
          .col-md-6
            +album('album-1.jpg')
          .col-md-6
            +album('album-2.jpg')
  +footer