extends ../templates/template.pug
block content
  +header
  +front
  +map
  .section.pt-lg-80.pb-lg-100.py-40
    .section__colored
    .container
      .row
        .col-12
          .d-sm-flex.align-items-center.mb-lg-95.mb-40
            h2.mb-20.mb-sm-0.mr-sm-30 Истории успеха
            a.btn.btn-link.mt-10(href="#") Смотреть все
      .row
        .col-lg-4.d-flex
          +story('story-person-1.jpg', 'Виктория Шульженко', 'пекарня “Бросто”', '<p>Мини-пекарня «Счастье съесть» — это предприятие, изготавливающее хлебобулочные изделия и осуществляющее розничные продажи.</p><p>Концепция мини-пекарни — это выпечка свежего хлеба по уникальным рецептурам, а также создание домашней и теплой атмосферы, в которой посетители смогут полакомиться, «не отходя от кассы».</p>', 'story-1.jpg')
        .col-lg-4.d-flex
          +story('story-person-2.jpg', 'Максим Викторов', 'Детский центр “Виктория”', '<p>Детский центр "Сёма" в городе Анапа, специализируется на проведении занятий, предназначенных для правильного и органичного развития ваших детей.</p><p>Вместе с сококвалифицированными педагогами нашего детского центра вы сможете составить программу занятий малыша</p>', 'story-2.jpg')
        .col-lg-4.d-flex
          +story('story-person-3.jpg', 'Джафар Макрабеков', 'Барбершоп “Жага”', '<p>Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин.</p><p>Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкой</p>', 'story-3.jpg')(class="mb-0")
  .container.mt-lg-80.mb-lg-75.my-40
    .row
      .col-12
        .d-flex.align-items-center.justify-content-between.justify-content-sm-start.mb-50
          h2.mb-0 Новости
          a.btn.btn-link.ml-sm-30.mt-10(href="#") Смотреть все
    .row
      .col-xl-3.col-lg-4
        h4 Региональные новости
        +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
        +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
        +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
      .col-lg-8.offset-xl-1
        +news('news-1.jpg', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '27 мая', 'ПМЭФ, Санкт-Петербург', 'news--illustrated')(class="news--cover mb-30")
        .row
          .col-xl-6.mb-30.mb-xl-0
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')
          .col-xl-6
            +news('news-3.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')
  .section.pt-lg-50.pb-lg-90.py-40
    .section__services
    .container.section__wide-wrapper
      .row
        .col-xl-4.col-lg-5
          .section__services-content
            .section__content-wrapper
              h2.text-white.mb-sm-70 Сервисы
              +service('service-1.png', 'Тест', 'Предпринимательские способности', 'Пройди тест и узнай – готов ли ты стать предпринимателем')
              +service('service-2.png', 'Доступ к поддержке', 'Росмолодежи', 'Зарегистрируйся на сайте АИС «Молодежь России» и получи поддержку Федерального агентства по делам молодежи')
              +service('service-3.png', 'Сервис', 'Бизнес Навигатор МСП', 'Бесплатный ресурс для предпринимателей, которые хотят открыть или расширить свой бизнес')
        .col-xl-8.col-lg-7
          .section__content-wrapper
            h2.mb-sm-70.ml-lg-15 Возможности
            +opportunity('opportunity-1.png', '«Ты — предприниматель»', 'Самый масштабный в России проект поддержки молодежного предпринимательства. Реализуется в более чем в 50 регионах. Участниками стали свыше 500 тысяч молодых людей.', 'opportunity--invite')
            +opportunity('opportunity-2.png', 'Всероссийский конкурс «Молодой предприниматель России»', 'Молодой предприниматель России – всероссийский конкурс, главной целью которого является выявление и поощрение талантливой молодежи, ведущей предпринимательскую деятельность.', 'opportunity--more')
            +opportunity('opportunity-3.png', 'Центры молодежного инновационного творчества (ЦМИТ)', 'Техническая и производственная поддержка инновационного творчества детей и молодежи, молодых предпринимателей, осуществляющих разработку перспективных видов продукции и технологий.')
  .container.mt-lg-70
    .row
      .col-12
        h2.mb-60 Партнеры
        +partners
  +footer