extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'Медиа')(class="my-35")
        .media
          h2.my-35 Медиа
          p Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин. 
          p Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкой
          .media__logos-wrapper
            a.media__logo(href="#")
              img.media__logo-picture(src="img/logo-1.svg", alt="Logo")
            a.media__logo(href="#")
              img.media__logo-picture(src="img/logo-2.png", alt="Logo")
            a.media__logo(href="#")
              img.media__logo-picture(src="img/logo-3.png", alt="Logo")
            a.media__logo(href="#")
              img.media__logo-picture(src="img/logo-4.png", alt="Logo")
            a.btn.btn-outline-primary.px-10.px-xl-60(href="#") Скачать одним архивом (2,5 mb)
          .d-flex.align-items-center.justify-content-between.justify-content-sm-start.mb-50
            h4.mb-0 Фотографии
            a.btn.btn-link.ml-sm-30.mt-10(href="#") Смотреть все
          .row
            .col-md-6
              +album('album-1.jpg')
            .col-md-6
              +album('album-2.jpg')
          .d-flex.align-items-baseline.justify-content-between.justify-content-sm-start.mt-45.mb-35
            h4.mb-0 Видеоматериалы
            a.btn.btn-link.ml-sm-30.mt-10(href="#") Смотреть все
          .row.mb-45
            .col-md-6
              +video('album-1.jpg')
            .col-md-6
              +video('album-2.jpg')
  +footer