extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('Новости', 'Региональные новости', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.')(class="mt-35 mb-25")
        h2.mb-40 Проекты молодых предпринимателей представили на Владимирском экономическом форуме.
    .article
      .row
        .col-xl-9.col-lg-8
          .d-flex
            a.article__date(href="#") 2 июня
            span.article__region Владимирская область
          .article__content
            img(src="img/article-1.jpg", alt="Picture")
            p Вчера, 26 июля на Мастрюковских озерах прошло торжественное открытие форума «iВолга-2018». В этом году в форуме принимают участие около 2 тысяч представителей из разных регионов России, а также — гости из КНР. Они поделятся своим идеями в рамках международного форума «Волга — Янцзы», который станет платформой для создания инновационных российско-китайских проектов.
            p Делегации начали заезжать с раннего утра. Участники проходили регистрацию, получали инвентарь и обустраивали лагерь. После обеда инструктора каждой смены провели тренинги на знакомство и экскурсии по территории Форума. Участники федеральной смены “Наука и образование” прослушали лекцию Валерии Касамары, заведующей Лабораторией политических исследований НИУ ВШЭ, руководителя олимпиады «Я – профессионал».
            p В 21:00 на Главной сцене Форума прошло торжественное открытие, в котором приняли участие врио губернатора Самарской области Дмитрий Азаров и заместитель полномочного представителя Президента РФ в ПФО Игорь Паньшин.
            p Дмитрий Азаров отметил, что форум “iВолга” стал одной из визитных карточек Самарской области:
            p 
              span.article__quote-mark 💬 
              | “Здесь уже шестой год подряд собираются талантливые, молодые, красивые и энергичные, целеустремленные люди, чтобы сделать наш мир лучше! Я хочу, чтобы вы здесь хорошо провели время, провели его с пользой. Я очень надеюсь, что вам понравится, что вы хорошо отдохнете и повеселитесь. Но вы, конечно же, и поработаете. Вы получите новые знания, вы что-то придумываете обязательно. И я очень надеюсь, что именно ваш проект будет поддержан. За историю «iВолги» уже 158 проектов получили грантовую поддержку. И, конечно же, это одна из важнейших составляющих нашего форума. Форума, который проводится по поручению Президента нашей страны, нашего лидера Владимира Владимировича Путина”.
            .d-flex.flex-column.flex-xl-row.justify-content-between.align-items-start.align-items-xl-center.mt-40
              .d-flex.mb-20.mb-xl-0
                a.article__date(href="#") 2 июня
                span.article__region Владимирская область
              +share
        .col-xl-3.col-lg-4.mt-40.mt-lg-0
          h4.mb-30 Также читайте
          +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
          +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
          +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
          .mt-40
            img.img-fluid(src="img/socials.png", alt="Picture")
  +footer