extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('Новости', '', 'Региональные новости')(class="my-35")
        h2.mt-35.mb-50 Региональные новости
        .row.mb-md-30
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
          .col-xl-3.col-lg-4.col-sm-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')(class="mb-45")
        .row.mb-60
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-sm(href="#") Загрузить ещё новости
  +footer