extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'Новости')(class="my-35")
        h2.mt-35.mb-0.mb-md-35 Новости
        .row.mb-md-75
          .col-xl-8.col-lg-7.d-flex.flex-column
            +news('news-1.jpg', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '27 мая', 'ПМЭФ, Санкт-Петербург', 'news--illustrated')(class="news--cover")
          .col-xl-4.col-lg-5.d-flex.flex-column.justify-content-between.mt-40.mt-lg-0
            h4 Важно
            div
              +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')
              +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')
        .row
          .col-12
            .d-flex.align-items-baseline.justify-content-between.justify-content-sm-start.mt-40.mt-sm-0.mb-20.mb-sm-50
              h4.mb-0 Региональные новости
              a.btn.btn-link.ml-sm-30.mt-10(href="#") Смотреть все
        .row
          .col-xl-3.col-md-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
          .col-xl-3.col-md-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
          .col-xl-3.col-md-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
          .col-xl-3.col-md-6
            +news('', 'Проекты молодых предпринимателей представили на Владимирском экономическом форуме.', '2 июня', 'Владимирская область')
        .row.mt-60
          .col-12
            h4.mb-40 Остальные новости
        .row
          .col-xl-4.col-lg-6
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')(class="mb-40")
          .col-xl-4.col-lg-6
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')(class="mb-40")
          .col-xl-4.col-lg-6
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')(class="mb-40")
          .col-xl-4.col-lg-6
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')(class="mb-40")
          .col-xl-4.col-lg-6
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')(class="mb-40")
          .col-xl-4.col-lg-6
            +news('news-2.jpg', 'Астрахань приняла эстафету окружных семинаров операторов программы «Ты – предприниматель»', '2 июня', 'Владимирская область', 'news--illustrated')(class="mb-40")
        .row.mt-30.mb-60
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-sm(href="#") Загрузить ещё новости
  +footer