extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'Фотографии')(class="my-35")
        h2.my-35 Фотографии
        .row
          .col-md-6
            +album('album-1.jpg')(class="mb-30")
          .col-md-6
            +album('album-2.jpg')(class="mb-30")
          .col-md-6
            +album('album-3.jpg')(class="mb-30")
          .col-md-6
            +album('album-4.jpg')(class="mb-30")
          .col-md-6
            +album('album-5.jpg')(class="mb-30")
          .col-md-6
            +album('album-6.jpg')(class="mb-30")
        .row.mt-15.mb-45
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-sm(href="#") Загрузить ещё новости
  +footer