extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'Заявка на участие в федеральной программе «Ты-предприниматель»')(class="my-35")
        form.form.mb-40.mb-sm-80(action="", method="POST")
          .row.mb-sm-75
            .col-sm-6
              +logo(class="logo--dark")
              h2.mt-35.mb-0 Заявка на участие в федеральной программе «Ты — предприниматель»
            .col-4.offset-2.d-none.d-sm-flex.align-items-center
              img.img-fluid(src="img/form-logo.png", alt="Logo")
          .row.mt-55
            .col-lg-4
              h4.h4--underline Личные данные
            .col-lg-8
              .row
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="text")
                    label.form__item-label Ваше имя
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="text")
                    label.form__item-label Ваша фамилия
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="text")
                    label.form__item-label Ваше отчество
                  .form__item.form-group
                    input.input.input--calendar.form__item-input.form-control(type="text")
                    label.form__item-label Дата рождения
              .row
                .col-12
                  .d-sm-flex.mt-sm-10
                    span.form__status-header.mb-20.mb-sm-0 Статус
                    .d-flex.flex-wrap
                      .custom-control.custom-checkbox
                        input#statusSchool.custom-control-input(type='checkbox')
                        label.custom-control-label(for='statusSchool') Школьник
                      .custom-control.custom-checkbox
                        input#statusStudent.custom-control-input(type='checkbox')
                        label.custom-control-label(for='statusStudent') Студент
                      .custom-control.custom-checkbox
                        input#statusEnterpreneur.custom-control-input(type='checkbox')
                        label.custom-control-label(for='statusEnterpreneur') Действующий предприниматель ИП\ООО
                      .custom-control.custom-checkbox
                        input#statusOther.custom-control-input(type='checkbox')
                        label.custom-control-label(for='statusOther') Другое
          .row.mt-35
            .col-lg-4
              h4.h4--underline Контактные данные
            .col-lg-8
              .row
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="text")
                    label.form__item-label Регион проживания
                    +tooltip('Я не нашёл свой регион', 'Ответ на вопрос "Что делать, если не нашёл свой регион"')(class="mt-10")
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control.is-invalid(type="text")
                    label.form__item-label Населенный пункт
                    .invalid-feedback Обязательное поле
              .row
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="text")
                    label.form__item-label Контактный телефон
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="text")
                    label.form__item-label Электронная почта
          .row.mt-35
            .col-lg-4
              h4.h4--underline Пароль
            .col-lg-8
              .row
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="password")
                    label.form__item-label Придумайте пароль
                .col-sm-6
                  .form__item.form-group
                    input.input.form__item-input.form-control(type="password")
                    label.form__item-label Повторите пароль
              .row
                .col-12
                  .d-sm-flex.align-items-center.justify-content-between.mt-10
                    .custom-control.custom-checkbox.custom-checkbox--short
                      input#registrationDataAgree.custom-control-input(type='checkbox')
                      label.custom-control-label(for='registrationDataAgree') Согласен(а) с условиями 
                        a(href="#") обработки персональных данных
                    button.btn.btn-primary.btn-lg.mt-20.mt-sm-0(type="submit") Стать участником
  +footer