extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('', '', 'Истории успеха')(class="mt-35 mb-30 mb-md-10")
        .d-lg-flex.align-items-center.justify-content-between.mb-50.mb-md-70
          h2.mb-20.mb-lg-0 Истории успеха
          .select
            select.select__input.select__input--region
              option 
              option Москва
              option Санкт-Петербург
        .row
          .col-lg-4.d-flex
            +story('story-person-1.jpg', 'Виктория Шульженко', 'пекарня “Бросто”', '<p>Мини-пекарня «Счастье съесть» — это предприятие, изготавливающее хлебобулочные изделия и осуществляющее розничные продажи.</p><p>Концепция мини-пекарни — это выпечка свежего хлеба по уникальным рецептурам, а также создание домашней и теплой атмосферы, в которой посетители смогут полакомиться, «не отходя от кассы».</p>', 'story-1.jpg')(class="mb-50")
          .col-lg-4.d-flex
            +story('story-person-2.jpg', 'Максим Викторов', 'Детский центр “Виктория”', '<p>Детский центр "Сёма" в городе Анапа, специализируется на проведении занятий, предназначенных для правильного и органичного развития ваших детей.</p><p>Вместе с сококвалифицированными педагогами нашего детского центра вы сможете составить программу занятий малыша</p>', 'story-2.jpg')(class="mb-50")
          .col-lg-4.d-flex
            +story('story-person-3.jpg', 'Джафар Макрабеков', 'Барбершоп “Жага”', '<p>Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин.</p><p>Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкой</p>', 'story-3.jpg')(class="mb-50")
          .col-lg-4.d-flex
            +story('story-person-1.jpg', 'Виктория Шульженко', 'пекарня “Бросто”', '<p>Мини-пекарня «Счастье съесть» — это предприятие, изготавливающее хлебобулочные изделия и осуществляющее розничные продажи.</p><p>Концепция мини-пекарни — это выпечка свежего хлеба по уникальным рецептурам, а также создание домашней и теплой атмосферы, в которой посетители смогут полакомиться, «не отходя от кассы».</p>', 'story-1.jpg')(class="mb-50")
          .col-lg-4.d-flex
            +story('story-person-2.jpg', 'Максим Викторов', 'Детский центр “Виктория”', '<p>Детский центр "Сёма" в городе Анапа, специализируется на проведении занятий, предназначенных для правильного и органичного развития ваших детей.</p><p>Вместе с сококвалифицированными педагогами нашего детского центра вы сможете составить программу занятий малыша</p>', 'story-2.jpg')(class="mb-50")
          .col-lg-4.d-flex
            +story('story-person-3.jpg', 'Джафар Макрабеков', 'Барбершоп “Жага”', '<p>Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин.</p><p>Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкой</p>', 'story-3.jpg')(class="mb-50")
        .row.mb-50
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-sm(href="#") Загрузить ещё истории
  +footer