extends ../templates/template.pug
block content
  +header('header--inner')(class="header--inner")
  .container
    .row
      .col-12
        +breadcrumbs('Истории успеха', '', 'Виктория Шульженко')(class="mt-35 mb-45")
        h2.mt-35.mb-70 Пекарня “Бросто”
        .article
          .row.mb-md-40
            .col-lg-4.mb-40.mb-lg-0
              .article__author
                .article__author-photo(style="background-image: url(./img/author-1.jpg);")
                h4.text-center.mb-20 Виктория Шульженко
                a.article__author-region(href="#") #Красноярский край
            .col-lg-8
              .article__content
                p Вчера, 26 июля на Мастрюковских озерах прошло торжественное открытие форума «iВолга-2018». В этом году в форуме принимают участие около 2 тысяч представителей из разных регионов России, а также — гости из КНР. Они поделятся своим идеями в рамках международного форума «Волга — Янцзы», который станет платформой для создания инновационных российско-китайских проектов.
                p Делегации начали заезжать с раннего утра. Участники проходили регистрацию, получали инвентарь и обустраивали лагерь. После обеда инструктора каждой смены провели тренинги на знакомство и экскурсии по территории Форума. Участники федеральной смены “Наука и образование” прослушали лекцию Валерии Касамары, заведующей Лабораторией политических исследований НИУ ВШЭ, руководителя олимпиады «Я – профессионал».
                p В 21:00 на Главной сцене Форума прошло торжественное открытие, в котором приняли участие врио губернатора Самарской области Дмитрий Азаров и заместитель полномочного представителя Президента РФ в ПФО Игорь Паньшин.
                p Дмитрий Азаров отметил, что форум “iВолга” стал одной из визитных карточек Самарской области:
                p 💬 “Здесь уже шестой год подряд собираются талантливые, молодые, красивые и энергичные, целеустремленные люди, чтобы сделать наш мир лучше! Я хочу, чтобы вы здесь хорошо провели время, провели его с пользой. Я очень надеюсь, что вам понравится, что вы хорошо отдохнете и повеселитесь. Но вы, конечно же, и поработаете. Вы получите новые знания, вы что-то придумываете обязательно. И я очень надеюсь, что именно ваш проект будет поддержан. За историю «iВолги» уже 158 проектов получили грантовую поддержку. И, конечно же, это одна из важнейших составляющих нашего форума. Форума, который проводится по поручению Президента нашей страны, нашего лидера Владимира Владимировича Путина”.
          .row.mb-30
            .col-12
              +illustrations
        h3.mb-60 Читайте также другие истории успешных бизнесменов
        .row.mb-90
          .col-lg-4.d-flex
            +story('story-person-1.jpg', 'Виктория Шульженко', 'пекарня “Бросто”', '<p>Мини-пекарня «Счастье съесть» — это предприятие, изготавливающее хлебобулочные изделия и осуществляющее розничные продажи.</p><p>Концепция мини-пекарни — это выпечка свежего хлеба по уникальным рецептурам, а также создание домашней и теплой атмосферы, в которой посетители смогут полакомиться, «не отходя от кассы».</p>', 'story-1.jpg')
          .col-lg-4.d-flex
            +story('story-person-2.jpg', 'Максим Викторов', 'Детский центр “Виктория”', '<p>Детский центр "Сёма" в городе Анапа, специализируется на проведении занятий, предназначенных для правильного и органичного развития ваших детей.</p><p>Вместе с сококвалифицированными педагогами нашего детского центра вы сможете составить программу занятий малыша</p>', 'story-2.jpg')
          .col-lg-4.d-flex
            +story('story-person-3.jpg', 'Джафар Макрабеков', 'Барбершоп “Жага”', '<p>Хорошо знакомые нам всем парикмахерские давно уже ушли из нашей жизни, и мало где можно встретить такую вывеску. На смену им пришли салоны красоты, где большая часть услуг всегда была рассчитана на женщин.</p><p>Для мужчин же оставался в лучшем случае мужской зал, а обычно клиент довольствовался стандартной стрижкой</p>', 'story-3.jpg')(class="mb-0")
  +footer