mixin share(modifier)
  .share&attributes(attributes)
    p.p--sm.mr-100.mb-0 Поделиться новостью:
    .d-flex
      a.share__link.share__link--vk(href="#")
      a.share__link.share__link--fb(href="#")
      a.share__link.share__link--tw(href="#")