.share {
  background: #F2F7F9;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 25px;
  
  &__link {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 15px;
    }
    
    &--vk {
      background: #48729E url(../img/vk.svg) no-repeat center;
    }
    
    &--fb {
      background: #3A5998 url(../img/fb.svg) no-repeat center;
    }
    
    &--tw {
      background: #00ACED url(../img/tw.svg) no-repeat center;
    }
  }
}
