.media {
  
  &__logos-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__logo {
    max-width: 20%;

    @include media-breakpoint-down(md) {
      max-width: 45%;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }
  
  &__logo-picture {
    max-width: 100%;
  }
}
