.logo {
  width: 124px;
  height: 80px;
  display: block;
  background: url(../img/logo.svg) no-repeat;
  background-size: contain;
  
  &--gray {
    background: url(../img/logo--gray.svg) no-repeat;
    background-size: contain;
  }
  
  &--dark {
    background: url(../img/logo--dark.svg) no-repeat;
    background-size: contain;
  }
  
  &--white {
    background: url(../img/logo--white.svg) no-repeat;
    background-size: contain;
    width: 37px;
    height: 37px;
    margin-right: 40px;
  }
}
