mixin front(modifier)
  .front&attributes(attributes)
    .front__section
      .front__slider-pictures-wrapper
        .front__slider-picture.front__slider-picture--active(style="background-image: url(./img/front.jpg);")
        .front__slider-picture(style="background-image: url(./img/story-1.jpg);")
        .front__slider-picture(style="background-image: url(./img/story-2.jpg);")
        .front__slider-picture(style="background-image: url(./img/story-3.jpg);")
        .front__slider-picture(style="background-image: url(./img/news-1.jpg);")
    .container.front__container
      .row
        .col-lg-8
          +slider(class="front__slider")
        .col-lg-4
          .front__right
            +fact('fact-1.svg', '500 000', 'прошли обучение в наших программах')
            +fact('fact-2.svg', '16 000', 'участников открыли свое дело')
            +fact('fact-3.svg', '60', 'регионов страны с нами')