.front {
  background: $light;
  position: relative;
  overflow: hidden;
  
  &__section {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 61%;
    
    @media screen and (max-width: 1600px) {
      width: 64%;
    }
    
    @media screen and (max-width: 1400px) {
      width: 66%;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__slider-pictures-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    &:before {
      content: '';
      display: block;
      width: calc(100% - 30px);
      height: 100%;
      background: linear-gradient(0deg, rgba(27, 55, 75, 0.64), rgba(27, 55, 75, 0.64));
      z-index: 3;
      position: absolute;
    }
  }
  
  &__slider-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 30px);
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0;
    @include transition;
    
    &--active {
      z-index: 2;
      opacity: 1;
    }
  }
  
  &__container {

    @include media-breakpoint-down(md) {
      max-width: 100%!important;
      padding: 0;
    }
  }
  
  &__right {

    @include media-breakpoint-down(md) {
      max-width: 720px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 40px!important;
      padding-bottom: 40px;
    }
  }
  
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 60px;

    @include media-breakpoint-down(md) {
      justify-content: center;
      width: 100%;
    }
  }
}
