mixin album(picture, modifier)
  a.album(href="#", style="background-image: url(./img/" + picture + ");")&attributes(attributes)
    .album__content
      .album__dscr
        p.album__title Проекты молодых предпринимателей представили на Владимирском экономическом форуме.
        p.text-white.mt-30.mb-0 27 мая, ПМЭФ, Санкт-Петербург
      .album__numbers 20
        span.album__numbers-type фото