.album {
  width: 100%;
  height: 370px;
  display: block;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &:hover {
  
    .album__title {
      border-color: transparent;
    }
  }
  
  &__content {
    background: rgba(0, 0, 0, .7);
    border-radius:  0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    @include media-breakpoint-down(lg) {
      padding: 20px;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__dscr {
    max-width: 320px;
  }
  
  &__title {
    color: #fff;
    border-bottom: 1px solid $secondary;
    display: inline;
    @include transition;
  }
  
  &__numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    color: $secondary;
    font-weight: 500;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      margin-top: 20px;
    }
  }
  
  &__numbers-type {
    font-size: 15px;
    text-align: center;
    line-height: 15px;

    @include media-breakpoint-down(md) {
      margin-left: 10px;
    }
  }
}