.service {
  display: flex;
  text-decoration: none;
  
  &+& {
    margin-top: 60px;
    border-top: 1px solid #fff;
    padding-top: 60px;

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      margin-top: 30px;
    }
  }
  
  &__icon {
    width: 76px;
    height: 75px;
    flex-shrink: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 50px;
  }
  
  &__content {
    
  }
  
  &__link {
    display: block;
    
    &:hover {
      
      h5 {
        border-color: transparent;
      }
    }
    
    h5 {
      border-bottom: 1px solid $secondary;
      display: inline;
      @include transition;
    }
  }
  
  &--colored {
    
    .service__icon {
      margin-right: 30px;
    }
    
    h5 {
      color: #000!important;
    }
    
    p {
      color: #000!important;
    }
  }
}
