mixin service(icon, type, header, dscr, modifier)
  .service&attributes(attributes)
    .service__icon(style="background-image: url(./img/" + icon + ");")
    .service__content
      p.text-white.mb-5= type
      a.service__link.mb-10(href="#")
        h5.text-white= header
      p.p--sm.text-white.mb-0= dscr