.map {
  padding-top: 85px;
  padding-bottom: 100px;
  
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  
  &__content {
    width: 100%;
    height: 611px;
    background: url(../img/russia.svg) no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;

    @include media-breakpoint-down(md) {
      height: 400px;
    }

    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
  
  &__popup {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 20px;
    max-width: 311px;
    
    position: absolute;
    left: 107px;
    bottom: -20px;

    @include media-breakpoint-down(md) {
      left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }
  
  &__popup-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  &__popup-number {
    flex-shrink: 0;
  }
  
  &__legend {
    position: absolute;
    bottom: -37px;
    right: 0;

    @include media-breakpoint-down(sm) {
      bottom: -60px;
    }
  }
  
  &__legend-item {
    font-size: 15px;
    line-height: 14px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 500;
    
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 14px;
      background: #000;
    }
    
    &--gray {
      
      &:before {
        background: #C4C4C4;
      }
    }
  }
}