mixin map(modifier)
  .map&attributes(attributes)
    .container
      .row
        .col-12
          .map__header
            h2.mb-20.mb-sm-0 Программа "Ты – предприниматель" <br>на карте России
            a.btn.btn-link.mt-15(href="#") Смотреть по регионам
          .map__content
            .map__popup
              p.font-weight-medium.mb-20 Красноярский край
              .map__popup-content
                p.p--sm.mb-0 Количество участников программы в 2017 году
                p.text-secondary.map__popup-number.mb-0.ml-30 1 840 чел.
              a.btn.btn-link(href="#") Контакты
            .map__legend
              .map__legend-item.map__legend-item--gray Программа в 2018 году не реализуется