.video {
  width: 100%;
  display: block;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }
  
  &__picture {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    
    &:hover {
      
      &:after {
        transform: scale(2);
        top: 20%;
      }
    }
    
    &:before {
      content: '';
      display: block;
      width: 78px;
      height: 78px;
      border-radius: 50%;
      border: 2px solid #fff;
      background: url(../img/play.svg) no-repeat left 25px center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 2;
    }
    
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.36) 100%);
      z-index: 1;
      border-radius: 5px;
      @include transition;
    }
  }
  
  &__content {
    margin-top: 20px;
  }
}
