mixin video(picture, modifier)
  a.video(href="#")&attributes(attributes)
    .video__picture(style="background-image: url(./img/" + picture + ");")
    .video__content
      p Проекты молодых предпринимателей представили на Владимирском экономическом форуме.
      p 27 мая, ПМЭФ, Санкт-Петербург