mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__item(href="#") О нас
      a.menu__item(href="#") Ты — предприниматель
      a.menu__item(href="#") Профсообщества
      a.menu__item(href="#") Конкурс
      a.menu__item(href="#") Медиа
      a.menu__item.menu__item--mobile(href="#") Контакты
      a.menu__item.menu__item--mobile(href="#login" data-fancybox) Войти