.menu {
  display: flex;
  
  &__btn {
    display: none;

    @include media-breakpoint-down(lg) {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../img/menu.svg) no-repeat;
      background-size: contain;
    }
    
    &--active {
      background: url(../img/close.svg) no-repeat;
      background-size: contain;
      position: relative;
      z-index: 1;
    }
  }
  
  &__content {
    display: flex;

    @include media-breakpoint-down(lg) {
      display: none;
    }
    
    &--active {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      position: fixed;
      min-height: 100vh;
      width: 100%;
      padding-top: 100px;
      left: 0;
      top: 0;
    }
  }
  
  &__item {
    font-size: 15px;
    line-height: 14px;
    color: #fff;
    border-bottom: 1px solid $secondary;
    margin-right: 23px;
    padding-bottom: 2px;
    @include transition;

    @include media-breakpoint-down(lg) {
      color: $dark;
      font-size: 30px;
      line-height: 1.5;
      font-weight: 700;
      margin-right: 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 22px;
    }
    
    &+& {

      @include media-breakpoint-down(lg) {
        margin-top: 30px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
    
    &:hover {
      color: #fff;
      border-color: transparent;

      @include media-breakpoint-down(lg) {
        color: $dark;
      }
    }
    
    &--mobile {
      display: none;

      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
  }
}
