mixin header(modifier)
  .header&attributes(attributes)
    if modifier == 'header--inner'
      .header__bg
        .header__bg-dark
        .header__bg-light
    .container
      .row
        .col-md-8.d-flex
          .header__left
            if modifier == 'header--inner'
              +logo(class="logo--white")
            +menu
        .col-md-4.d-flex
          .header__right
            a.btn.btn-link.header__link(href="#") Контакты
            a.btn.btn-outline-primary.header__btn(href="#login" data-fancybox) Войти
            +modal('modal--login')(id="login")
            +modal('modal--restore')(id="restore")
            +modal('modal--restore-success')(id="restoreSuccess")
            +modal('modal--restore-password')(id="restorePassword")