.header {
  position: absolute;
  z-index: 4;
  width: 100%;
  padding: 34px 0;
  
  &__bg {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__bg-dark {
    background: $secondary;
    width: 60%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  
  &__bg-light {
    background: $light;
    width: 40%;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
      width: 100%;
    }
  }
  
  &__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-end;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &__link {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__btn {

    @include media-breakpoint-down(md) {
      background: $primary;
      color: #fff!important;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &--inner {
    position: relative;
    
    .menu__item {
      border-color: $dark;
    }
  }
  
  &--fixed {
    position: fixed;
  }
}
