.fact {
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
  
  &+& {
    margin-top: 100px;

    @include media-breakpoint-down(lg) {
      margin-top: 60px;
    }
  }
  
  &__icon {
    flex-shrink: 0;
    width: 60px;
    min-height: 64px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: top center;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
      background-position: bottom center;
    }
  }
  
  &__dscr {
    max-width: 70%;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }
}
