mixin fact(icon, number, dscr, modifier)
  .fact&attributes(attributes)
    .fact__icon(style="background-image: url(./img/" + icon + ");")
    div
      h2.text-secondary.mb-10= number
      h4.mb-0.font-weight-normal.fact__dscr= dscr