.form {
  
  &__item {
    position: relative;
    
    &--success {
      
      .form__item-input {
        border-color: #22AF41;
        background: url(../img/success.svg) no-repeat right 20px center;
      }
    }
  }
  
  &__item-input {
    position: relative;
    z-index: 2;
    
    &:focus, &--active {
      
      & ~ .form__item-label {
        top: 17px;
        color: #969696;
      }
    }
  }
  
  &__item-label {
    font-size: 13px;
    line-height: 12px;
    color: $dark;
    position: absolute;
    left: 20px;
    top: 28px;
    z-index: 1;
    @include transition;
  }
  
  &__status-header {
    font-size: 15px;
    color: #969696;
    margin-right: 25px;
    display: block;
  }
  
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 30px;

    @include media-breakpoint-down(lg) {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }
}
